table, tbody, td
{
	border: 0px solid;
	padding: 10px;
}

.apple::before
{
	content: '🍎';
}

.snake::before
{
	content: '🐍';
}

.tail::before
{
	content: '🟩';
}

.empty::before
{
	content: '⬜';
  opacity: 0.0;
}

table
{
	background-color: white;
	border: 3px solid;
	padding: 0px;
	margin: 0 auto;
}

body
{
	font-family: Arial, Helvetica, sans-serif
}