table, tbody, td
{
  border: 0px solid;
  font-size: 24px;
  padding: 0px;
}

.red::before
{
  content: "🟥";
}

.blue::before
{
  content: "🟦";
}

.green::before
{
  content: "🟩";
}

.yellow::before
{
  content: "🟨";
}

.empty::before
{
  content: "⬜";
  opacity: 0.0;
}

#gameTable
{
  background-color: white;
  border: 3px solid;
  padding: 0px;
  margin: 0 auto;
}

#nextPieceTable
{
  background-color: white;
  border: 3px solid;
  padding: 0px;
  margin: 0 auto;
}

#gameTableDiv
{
  display: inline-table;
}

#nextPieceDiv
{
  display: inline-table;
}

body
{
  font-family: Arial, Helvetica, sans-serif;
}