.mine
{
	background-color: red;
}

.flag
{
	background-color: yellow;
}

.empty
{
	background-color: #aaaaaa;
}

.default
{
	background-color: #dddddd;
}

table
{
	background-color: white;
	border: 3px solid;
	padding: 0px;
	margin: 0 auto;
	table-layout: fixed;
}

table, tbody, td
{
	border: 1px solid;
	padding: 10px;
	width: 10px;
	font-size: 12px;
	line-height: 0px;
}

body
{
	font-family: Arial, Helvetica, sans-serif
}