.mine::before
{
  content: '💣';
}

.flag::before
{
  content: '🚩';
}

.default::before
{
  content: '⬛';
}

.empty::before
{
  content: '⬜';
}

.one::before
{
  content: '1️⃣';
}

.two::before
{
  content: '2️⃣';
}

.three::before
{
  content: '3️⃣';
}

.four::before
{
  content: '4️⃣';
}

.five::before
{
  content: '5️⃣';
}

.six::before
{
  content: '6️⃣';
}

.seven::before
{
  content: '7️⃣';
}

.eight::before
{
  content: '8️⃣';
}

table, tbody, td
{
  font-size: 24px;
}

body
{
  font-family: Arial, Helvetica, sans-serif
}